body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.reviews-table .review-summary {
  margin-top: 2em;
  border-bottom: 1px solid grey;
}

.reviews-table .review-summary:first-child {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .review-detail {
    max-width: 50vw;
    margin-left: -50vw;
    position: fixed;
  }

  .review-summary {
    max-width: 40vw;
  }
}

a:hover,
a:active {
  text-decoration: underline;
}

a.active {
  color: green;
}
